body {
    background-color: #3490DD;
}
    .bacground {
        display: inline-block;
        height: 100vh; /* 100 vh matmuo nurodo, jog siuo metu bus naudojama, 100 proc darbinio fono */
        width: 100%;
        background-image: url(../img/kalnas.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: blur(40px);
    }
    main { /* iscentravimas viso bloko calc(100% - 800px) / 2 */
        display: inline-block;
        /* margin-top: 60px; atstumimas nuo virsaus */ 
        /* margin-left: calc(50% - 400px); */
        width: 800px;
        transform: translate(-50%,-50%);  /* pastato objekta per centra */
        position: absolute;
        top: 50%;
        left: 50%;
    }
      h1 {
        color: white;
        font-size: 40px;
        font-weight: 50;
        text-transform: ;
      }
      footer {
          position: absolute;
          bottom: 20px;
          color: white;
      }
        footer > a {
            color: white;
            text-decoration: none;
        }
        footer > span {
            color: white;
            text-decoration: none;
        }
       .left-column { /* klases sukurimas */
            display: inline-block;
            float: left;
            padding: 40px;
            width: 40%;
            background-color: #3E42AE;

            position: absolute;
            top: 30px;
            bottom: 30px;
            background-image: url(../img/kalnas.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
        }
       .right-column {
            display: inline-block;
            float: right; /* Right, nes uzdengia foto jei butu left */
            width: 60%;
            padding: 60px; /*  issiputimas */
            background-color: white;

            position: relative; /* susiurbia "close" pas save */
        }
        .close {
            display: inline-block;
            float: left;
            width: 60px;
            height: 60px;
            text-align: center;
            font-size: 40px;
            line-height: 55px;
            position: absolute; /* ima "close" elementa ir stato ji ant virsaus */
            top: 0px; /* elemento koordinates */
            right: 0px; /* elemento koordinates */
            transform: rotate(45deg);
            transform-origin: center; /*  pasukti objekta (+) centro atzvilgiu */
            color: lightgrey;
            cursor: pointer;
        }
       