body {
    background-color: #3490DD;
}
    main { /* iscentravimas viso bloko calc(100% - 800px) / 2 */
        display: inline-block;
        margin-top: 60px; /* atstumimas nuo virsaus */
        margin-left: calc(50% - 400px);
        width: 800px;
        
        position: relative;
    }
      h1 {
        color: white;
        font-size: 50px;
        font-weight: 50;
        text-transform: ;
      }
      footer {
          position: absolute;
          bottom: 20px;
          color: white;
      }
        footer > a {
            color: white;
            text-decoration: none;
        }
        footer > span {
            color: white;
            text-decoration: none;
        }
       .left-column { /* klases sukurimas */
            display: inline-block;
            float: left;
            padding: 40px;
            width: 40%;
            background-color: #3E42AE;

            position: absolute;
            top: 30px;
            bottom: 30px;
            background-image: url(../img/kalnas.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
        }
       .right-column {
            display: inline-block;
            float: right; /* Right, nes uzdengia foto jei butu left */
            width: 60%;
            padding: 60px; /*  issiputimas */
            background-color: white;

            position: relative; /* susiurbia "close" pas save */
        }
        .close {
            display: inline-block;
            float: left;
            width: 60px;
            height: 60px;
            text-align: center;
            font-size: 40px;
            line-height: 55px;
            position: absolute; /* ima "close" elementa ir stato ji ant virsaus */
            top: 0px; /* elemento koordinates */
            right: 0px; /* elemento koordinates */
            transform: rotate(45deg);
            transform-origin: center; /*  pasukti objekta (+) centro atzvilgiu */
            color: lightgrey;
            cursor: pointer;
        }
        .form {
            display: inline-block;
            width: 100%;
        }
        .form-row {
            display: inline-block;
            width: 100%;
        }
            .form-row + .form-row {
                margin-top: 40px;
            }
        
            label {
                display: inline-block;
                width: 100%;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: bold;
                color: grey;
                line-height: 17px;
            }
            input {
                display: inline-block;
            width: 100%;
            border: none;
            font-size: 18px;
            padding-top: 5px;
            padding-bottom: 5px;
            /* arba linijos aukstis line-height: 40px; */
            color: #f000;
            border-bottom: 1px solid red;
            }
            .btn {
                display: inline-block;
                float: left;
                padding: 10px;
                padding-left: 40px;
                padding-right: 40px;
                background-color: blue;
                color: white;
                border-radius: 20px;
                font-size: 20px;
                line-height: 20px;
            }
            .form-row > span {
                display: inline-block;
                float: left;
                font-size: 20px;
                line-height: 20px;
                padding: 10px;
                margin-left: 10px;
            }
            .form-row > a {
                display: inline-block;
                float: left;
                font-size: 20px;
                padding: 10px; 
                line-height: 20px;
                text-decoration: none;

            }
            